* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

button {
  cursor: pointer;
}
.navbar {
  width: 100%;
  background-color: brown;
  display: flex;
  justify-content: space-around;
  height: 50px;
  align-items: center;
  color: white;
}

.navbar button {
  height: 100%;
  width: 130px;
  border: none;
  color: white;
  background-color: rgba(165, 42, 42, 0);
  font-size: 1.4rem;
}

.sign_form {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 5% auto;
  align-items: center;
  justify-content: space-evenly;
  background-color: brown;
  height: 400px;
  color: white;
}
.sign_form form {
  display: flex;
  flex-direction: column;
}
.sign_form form input {
  margin-bottom: 10px;
}
.addpost {
  width: 80%;
}
.upload label {
  background: white;
  color: black;
  cursor: pointer;
  padding: 7px;
}
.imagesPost {
  display: flex;
}
.marker {
  font-size: 25px;
  margin: -28px -16px;
}
.items {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 0 auto 5% auto;
  align-items: center;
  justify-content: space-evenly;
  background-color: brown;
  height: 400px;
  color: white;
}
.items_post {
  text-align: right;
  border: 1px solid white;
  width: 100%;
  padding: 3px 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.items_post img{
  cursor: pointer;
}
.reqBtns {
  width: 40%;
  margin: 5% auto 1px auto;
}
.reqBtns button{
  padding: 7px;
}
.items_post_text{
  cursor: pointer;
}